body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: blanchedalmond;
    display: inline;
    text-align: center;
}

.image {
    border: 5px solid blanchedalmond;
    height: auto;
    width: 850px;
}

.main-frame {
    display: block;
}

.puppy-main {
    display: block;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
}
button {
    margin: 5%;
    padding: 3em;
    font-size: 100%;
    background-color: blanchedalmond;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 600px) {
    .image {
      width: 95%;
      height: auto;
    }